**/.tmp_*
**/.teraaform
**/.terraform.lock.hcl
**/.terraform.d
**/.terraformignore
**/.terraform-version
**/.terraformrc
**/*egg-info
**.terraform*
**/terraform.tfstate.backup

# Temporary and binary files
*~
*.py[cod]
*.cfg
!setup.cfg
*.orig
*.log
*.pot
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.pytest_cache/*


# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode

# Package files
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST

#test cache files
tests/.cache/
tests/htmlcov/*


.mypy_cache
/venv_fmo_cf/
venv/
.DS_Store
*.iml
./venv/*

.env
uv.lock
**/*.ipynb

**/*.logs

**/*.tfplan*
**/*.tfstate*

**/__pycache__**

**/*server_logs.*